#!/usr/bin/python
import sys
import logging
logging.basicConfig(stream=sys.stderr)
sys.path.insert(0,"{{move_directory}}")

from app import app as application
application.secret_key = 'fdhsdfh4y42723jkjkh5klh234589234523h834580923'